.section h3,
.section p {
  animation: slideUp 0.8s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

