:root {
  --primary: #0F766E;
  --secondary: #14B8A6;
  --bg: #0F172A;
  --card: #1E293B;
  --text: #E5E7EB;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

.navbar {
  background-color: var(--primary);
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  margin: 0;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--secondary);
}

.hero {
  text-align: center;
  padding: 50px 20px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 4px solid var(--secondary);
  margin-bottom: 15px;
}

.links a {
  margin: 10px;
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
}

.links a:hover {
  color: white;
}

.btn {
  background: var(--secondary);
  color: black !important;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background: var(--primary);
  color: white !important;
}

.section {
  background: var(--card);
  margin: 30px;
  padding: 25px;
  border-radius: 12px;
}

h2, h3 {
  color: var(--secondary);
}

ul {
  line-height: 1.8;
}

